.checkbox {
  display: inline-block;
  position: relative;
}
.checkbox:not(:last-child) {
  margin-bottom: 5px;
}
.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}
.checkbox__input:focus-visible + .checkbox__text {
  outline: 1px solid #000;
}
.checkbox__input:checked + .checkbox__text:after {
  transform: scale(1);
}
.checkbox__text {
  cursor: pointer;
  position: relative;
  gap: 10px;
  display: inline-flex;
  align-items: center;
}
.checkbox__text:before {
  content: "";
  border-radius: 3px;
  align-self: flex-start;
  flex: 0 0 20px;
  width: 20px;
  height: 20px;
  border: 1px solid #a7a9ac;
}
.checkbox__text::after {
  content: "";
  transition: all 0.3s ease 0s;
  transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  background-color: #7a956b;
  position: absolute;
  left: 5px;
  top: 5px;
}.catalog {
  padding-top: 64px;
  margin-bottom: 160px;
}
.catalog__top {
  margin-bottom: 36px;
}.contacts {
  margin-bottom: 160px;
}
.contacts--accent .contacts__body {
  background-color: var(--accent);
  background-image: url("../assets/img/decors/phone-2.svg"), url("../assets/img/decors/phone.svg");
}
.contacts__body {
  position: relative;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  background-repeat: no-repeat;
  background-size: 240px, 370px;
  background-position: top -30px right 680px, bottom -45px right -30px;
  border-radius: 36px;
  padding: 63px 120px 80px 120px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}
.contacts__title {
  line-height: 120%;
  padding-top: 17px;
}
.contacts__form {
  max-width: 618px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.contacts__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 16px 24px;
}
.contacts__inputs .input-field {
  flex: 1 1 auto;
  width: calc(50% - 24px);
  min-width: 230px;
}
.contacts__btn {
  min-width: calc(50% - 16px);
}
.contacts__decor-1, .contacts__decor-2 {
  position: absolute;
  pointer-events: none;
}
.contacts__decor-1 img, .contacts__decor-2 img {
  width: 100%;
  object-fit: cover;
}
.contacts__decor-1 {
  top: -144px;
  right: -240px;
  width: 335px;
  height: 316px;
}
.contacts__decor-2 {
  bottom: -150px;
  left: -200px;
  width: 322px;
  height: 349px;
}
@media (max-width: 97.5em) {
  .contacts__decor-1 {
    top: -100px;
    right: -140px;
    width: 235px;
    height: 216px;
  }
  .contacts__decor-2 {
    bottom: -120px;
    left: -100px;
    width: 222px;
    height: 249px;
  }
}
@media (max-width: 81.24875em) {
  .contacts__body {
    padding: 63px 48px 80px 48px;
  }
}
@media (max-width: 61.99875em) {
  .contacts__body {
    background-position: top -30px right 580px, bottom -45px right -30px;
  }
}
@media (max-width: 47.99875em) {
  .catalog {
    padding-top: 24px;
    margin-bottom: 100px;
  }
  .catalog__top {
    margin-bottom: 16px;
  }
  .contacts {
    margin-bottom: 100px;
  }
  .contacts__body {
    border-radius: 16px;
    padding: 20px;
    flex-direction: column;
    align-items: stretch;
    gap: 63px;
  }
  .contacts__form {
    max-width: none;
  }
  .contacts__decor-1 {
    top: -74px;
    right: -70px;
    width: 157px;
    height: 148px;
  }
  .contacts__decor-2 {
    bottom: -83px;
    left: -72px;
    width: 137px;
    height: 147px;
  }
}
@media (max-width: 40.62375em) {
  .contacts__body {
    background-size: 200px, 220px;
    background-position: top 80px right -40px, bottom 30px left -82px;
  }
  .contacts__btn {
    min-height: 67px;
  }
}
@media (max-width: 29.99875em) {
  .contacts__btn {
    max-width: 100%;
  }
}