.swiper {
  overflow: hidden;
}

.swiper-initialized {
  touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-button-lock,
.swiper-pagination-lock {
  display: none !important;
}.hero {
  margin-top: 63px;
  margin-bottom: 160px;
}
.hero__container {
  position: relative;
}
.hero__slider {
  border-radius: 36px;
}
.hero__slider .swiper-pagination {
  max-width: fit-content;
  margin: -24px auto 0 auto;
  padding: 16px;
  border-radius: 24px;
  min-height: 48px;
  background-color: var(--bg-color);
  position: relative;
  z-index: 3;
}
.hero__slider:not(.swiper-initialized) .hero__slide:nth-child(n+2) {
  display: none;
}
.hero__slide {
  width: 100%;
  min-height: 500px;
  border-radius: 36px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero__slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.38) 38%, rgba(0, 0, 0, 0) 100%);
}
.hero__slide-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 3;
  padding: 56px 59px;
  color: var(--white-color);
}
.hero__slide-head {
  max-width: fit-content;
  position: relative;
}
.hero__slide-head:not(:last-child) {
  margin-bottom: 48px;
}
.hero__slide-title {
  font-weight: 600;
  line-height: 90%;
}
.hero__slide-subtitle {
  max-width: fit-content;
  position: absolute;
  top: 50%;
  right: -35px;
  border-radius: 80px;
  font-weight: 600;
  padding: 16px 24px;
  background-color: var(--accent);
  color: var(--green-color);
  transform: rotate(-5deg) translate(0px, -50%);
}
.hero__slide-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 56px;
}
.hero__slide-text {
  max-width: 338px;
  font-size: 20px;
  line-height: 120%;
}
.hero__slide-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero__arrows {
  position: absolute;
  top: 50%;
  left: -95px;
  right: -95px;
  transform: translate(0px, -50%);
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.hero__decor {
  position: absolute;
  right: -303px;
  bottom: -231px;
  z-index: -1;
  width: 620px;
  height: 609px;
}
.hero__decor img {
  width: 100%;
  object-fit: cover;
}.recommendation {
  margin-bottom: 160px;
}
.recommendation__container {
  position: relative;
}
.recommendation__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  background-image: url("../assets/img/decors/fire-small-1.svg"), url("../assets/img/decors/fire-big-1.svg");
  background-repeat: no-repeat;
  background-position: left -15px bottom -60px, right -65px bottom -55px;
  background-size: 340px, 470px;
  border-radius: 36px;
  padding: 80px 48px;
}
.recommendation--accent .recommendation__body {
  background-color: var(--accent);
  background-image: url("../assets/img/decors/fire-small-2.svg"), url("../assets/img/decors/fire-big-2.svg");
  background-position: left -15px bottom -75px, right -65px bottom -65px;
  padding: 120px 48px;
}
.recommendation__title {
  line-height: 110%;
}
.recommendation__items {
  max-width: 1016px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}
.recommendation__item {
  max-width: fit-content;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-radius: 48px;
  padding: 14px 24px;
  min-height: 72px;
  box-shadow: 0 4px 30px 0 rgba(104, 104, 104, 0.2);
  background-color: var(--white-color);
  color: var(--green-color);
  font-weight: 600;
  font-size: 20px;
  line-height: 110%;
  transition: background 0.3s, color 0.3s;
}
.recommendation__item svg {
  color: var(--green-color);
  transition: color 0.3s;
}
.recommendation__item:active {
  background-color: var(--accent);
  color: var(--green-color);
}
.recommendation--accent .recommendation__btn {
  display: none;
}
.recommendation__decor, .recommendation__decor-2, .recommendation__decor-3 {
  position: absolute;
  pointer-events: none;
}
.recommendation__decor img, .recommendation__decor-2 img, .recommendation__decor-3 img {
  width: 100%;
  object-fit: cover;
}
.recommendation__decor {
  bottom: -82px;
  left: -280px;
  width: 460px;
  height: 424px;
}
.recommendation__decor-2 {
  z-index: -1;
  top: -229px;
  left: -370px;
  width: 623px;
  height: 611px;
}
.recommendation__decor-2 img {
  transform: rotate(45deg);
}
.recommendation__decor-3 {
  bottom: -228px;
  right: -334px;
  width: 581px;
  height: 591px;
}.advantages {
  margin-bottom: 160px;
}
.advantages__title {
  margin-bottom: 48px;
}
.advantages__items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
}
.advantages__item {
  flex: 1 1 auto;
  width: calc(33.333% - 24px);
  min-width: 320px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  background-repeat: no-repeat;
  background-position: bottom -58px right -50px;
  background-size: contain;
  border-radius: 36px;
  padding: 48px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.advantages__item--accent {
  background-color: var(--accent);
  color: var(--green-color);
}
.advantages__item-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.advantages__item-title {
  font-weight: 600;
  line-height: 105%;
}
.advantages__item-text {
  font-size: 20px;
  line-height: 120%;
}
.advantages__decor-1, .advantages__decor-2 {
  position: absolute;
  pointer-events: none;
}
.advantages__decor-1 img, .advantages__decor-2 img {
  width: 100%;
  object-fit: cover;
}
.advantages__decor-1 {
  width: 744px;
  height: 754px;
  z-index: -1;
  top: -383px;
  right: -465px;
}
.advantages__decor-2 {
  width: 454px;
  height: 449px;
  bottom: -244px;
  left: -273px;
}.willfit {
  margin-bottom: 160px;
}
.willfit__title {
  margin-bottom: 48px;
}
.willfit__items {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  position: relative;
}
.willfit__item {
  background-repeat: no-repeat;
  background-position: bottom -60px right -40px;
  background-size: contain;
  flex: 1 1 auto;
  width: calc(33.333% - 24px);
  min-width: 320px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  border-radius: 36px;
  padding: 48px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.willfit__item--accent {
  width: calc(66.666% - 16px);
  background-color: var(--accent);
  color: var(--green-color);
}
.willfit__item-body {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.willfit__item-title {
  max-width: fit-content;
  font-weight: 600;
  line-height: 105%;
  transition: color 0.3s;
}
.willfit__item-text {
  max-width: 436px;
  font-size: 20px;
  line-height: 120%;
}
.willfit__item-text span {
  display: block;
  font-size: 16px;
  margin-bottom: 4px;
}
.willfit__item-btns {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.willfit__item-btn {
  padding: 14px 24px;
}
.willfit__decor-1, .willfit__decor-2, .willfit__decor-3 {
  position: absolute;
  pointer-events: none;
}
.willfit__decor-1 img, .willfit__decor-2 img, .willfit__decor-3 img {
  width: 100%;
  object-fit: cover;
}
.willfit__decor-1 {
  z-index: -1;
  top: -180px;
  left: -113px;
  width: 320px;
  height: 304px;
}
.willfit__decor-2 {
  top: 33%;
  right: -258px;
  width: 394px;
  height: 405px;
}
.willfit__decor-3 {
  z-index: -1;
  bottom: -149px;
  left: -250px;
  width: 323px;
  height: 349px;
}
@media (max-width: 112.49875em) {
  .hero__arrows {
    left: -15px;
    right: -15px;
  }
}
@media (max-width: 99.99875em) {
  .hero__slide-body {
    padding: 50px 70px 70px 70px;
    gap: 30px;
  }
  .hero__slide-head:not(:last-child) {
    margin-bottom: auto;
  }
  .hero__arrows {
    left: 5px;
    right: 5px;
  }
}
@media (max-width: 97.5em) {
  .hero__decor {
    width: 300px;
    height: 295px;
    right: -90px;
    bottom: -103px;
  }
  .recommendation__decor {
    width: 277px;
    height: 255px;
    bottom: -50px;
    left: -107px;
  }
  .recommendation__decor-2 {
    top: -139px;
    left: -140px;
    width: 311px;
    height: 305px;
  }
  .recommendation__decor-2 img {
    transform: rotate(30deg);
  }
  .recommendation__decor-3 {
    bottom: 12px;
    right: -145px;
    width: 290px;
    height: 295px;
  }
  .advantages__decor-1 {
    width: 372px;
    height: 377px;
    top: -170px;
    right: -130px;
  }
  .advantages__decor-2 {
    width: 186px;
    height: 189px;
    bottom: -115px;
    left: -78px;
  }
  .willfit__decor-1 {
    top: -48px;
    left: -77px;
    width: 125px;
    height: 118px;
  }
  .willfit__decor-2 {
    right: -103px;
    width: 232px;
    height: 239px;
  }
  .willfit__decor-3 {
    bottom: -113px;
    left: -77px;
    width: 145px;
    height: 157px;
  }
}
@media (max-width: 89.99875em) {
  .hero__slide {
    min-height: 100%;
  }
}
@media (max-width: 81.24875em) {
  .advantages__item {
    padding: 24px;
  }
  .willfit__item {
    padding: 24px;
  }
}
@media (max-width: 61.99875em) {
  .hero {
    margin-top: 39px;
    margin-bottom: 78px;
  }
  .hero__slide-subtitle {
    padding: 10px 16px;
  }
  .recommendation__body {
    padding: 48px;
    background-position: left -68px bottom 215px, right -72px bottom -96px;
    background-size: 220px, 278px;
  }
  .recommendation--accent .recommendation__body {
    padding: 48px;
  }
  .advantages__item {
    min-height: 250px;
  }
  .willfit__item {
    min-height: 340px;
  }
  .willfit__item--accent {
    min-height: 400px;
  }
}
@media (max-width: 47.99875em) {
  .hero__slide-body {
    padding: 24px 24px 70px 24px;
  }
  .hero__slide-title {
    font-size: 58px;
  }
  .hero__slide-title {
    line-height: 100%;
  }
  .hero__slide-title:not(:last-child) {
    margin-bottom: 7px;
  }
  .hero__slide-subtitle {
    font-size: 16px;
  }
  .hero__slide-subtitle {
    position: static;
    transform: rotate(-5deg);
  }
  .hero__slide-info {
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
  }
  .hero__slide-text {
    font-size: 16px;
  }
  .hero__slide-btn {
    min-height: 51px;
    font-size: 16px;
  }
  .hero__arrows {
    display: none;
  }
  .recommendation {
    margin-bottom: 100px;
  }
  .recommendation__body {
    border-radius: 16px;
    gap: 36px;
  }
  .recommendation__items {
    gap: 8px;
  }
  .recommendation--accent .recommendation__btn {
    display: flex;
  }
  .recommendation__decor {
    width: 210px;
    height: 194px;
    bottom: -35px;
    left: -87px;
  }
  .recommendation__decor-2 {
    top: -119px;
    left: -130px;
    width: 261px;
    height: 255px;
  }
  .recommendation__decor-3 {
    right: -64px;
    width: 190px;
    height: 195px;
  }
  .advantages {
    margin-bottom: 100px;
  }
  .advantages__title {
    margin-bottom: 36px;
  }
  .advantages__items {
    gap: 16px;
  }
  .advantages__item {
    width: calc(33.333% - 16px);
    border-radius: 16px;
    background-position: bottom -20px right -50px;
  }
  .advantages__item-body {
    gap: 12px;
  }
  .advantages__item-title {
    font-size: 24px;
  }
  .advantages__item-text {
    font-size: 16px;
  }
  .willfit {
    margin-bottom: 100px;
  }
  .willfit__title {
    margin-bottom: 36px;
  }
  .willfit__items {
    gap: 16px;
  }
  .willfit__item--accent .willfit__item-title {
    font-size: 24px;
  }
  .willfit__item {
    width: calc(33.333% - 16px);
    border-radius: 16px;
    background-position: bottom -30px right -60px;
    min-height: 240px;
  }
  .willfit__item--accent {
    min-height: 400px;
  }
  .willfit__item-body {
    gap: 12px;
  }
  .willfit__item-title {
    font-size: 24px;
  }
  .willfit__item-text {
    font-size: 16px;
  }
  .willfit__item-text span {
    font-size: 15px;
  }
}
@media (max-width: 649.98px) {
  .recommendation__item {
    font-size: 16px;
    padding: 10px 18px;
    min-height: 43px;
  }
}
@media (max-width: 34.37375em) {
  .hero__slider {
    border-radius: 16px;
  }
  .hero__slide {
    min-height: 580px;
    border-radius: 16px;
  }
}
@media (max-width: 29.99875em) {
  .recommendation__body {
    padding: 48px 12px;
    background-position: left -57px bottom 220px, right -55px bottom -80px;
    background-size: 150px, 210px;
  }
  .recommendation--accent .recommendation__body {
    padding: 48px 12px;
  }
  .advantages__item {
    min-width: 270px;
  }
  .advantages__decor-1 {
    width: 272px;
    height: 277px;
    top: -120px;
    right: -100px;
  }
  .willfit__item {
    min-width: 270px;
    background-size: 263px;
  }
  .willfit__item-btns {
    align-items: stretch;
    flex-direction: column-reverse;
  }
  .willfit__decor-2 {
    top: 39%;
  }
}
@media (max-width: 23.12375em) {
  .hero__slide-body {
    padding: 24px 15px 70px 15px;
  }
  .hero__slide-title {
    font-size: 48px;
  }
  .advantages__item {
    padding: 16px;
  }
  .willfit__item {
    padding: 16px;
  }
  .willfit__decor-2 {
    right: -135px;
  }
}
@media (min-width: 47.99875em) and (max-width: 97.5em) {
  .hero__slide-title {
    font-size: clamp( 58px , -22.4807201838px  +  10.4795333451vw , 141px );
  }
  .hero__slide-subtitle {
    font-size: clamp( 16px , -3.3929446226px  +  2.5251887579vw , 36px );
  }
  .advantages__item-title {
    font-size: clamp( 24px , 12.3642332264px  +  1.5151132547vw , 36px );
  }
  .willfit__item--accent .willfit__item-title {
    font-size: clamp( 24px , 0.7284664529px  +  3.0302265094vw , 48px );
  }
  .willfit__item-title {
    font-size: clamp( 24px , 12.3642332264px  +  1.5151132547vw , 36px );
  }
}
@media (min-width: 97.5em) {
  .hero__slide-title {
    font-size: 141px;
  }
  .hero__slide-subtitle {
    font-size: 36px;
  }
  .advantages__item-title {
    font-size: 36px;
  }
  .willfit__item--accent .willfit__item-title {
    font-size: 48px;
  }
  .willfit__item-title {
    font-size: 36px;
  }
}
@media (any-hover: hover) {
  .recommendation__item:hover {
    background-color: var(--green-color);
    color: var(--white-color);
  }
  .recommendation__item:hover svg {
    color: var(--white-color);
  }
  .willfit__item--accent .willfit__item-title:hover {
    color: var(--main-color);
  }
  .willfit__item-title:hover {
    color: var(--green-color);
  }
}