.block-success {
  min-height: calc(100svh - 128px);
  display: grid;
  padding: 50px 0;
}
.block-success__container {
  display: grid;
  place-content: center;
  width: 100%;
  position: relative;
}
.block-success__body {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.block-success__num {
  border-radius: 64px;
  padding: 24px 36px;
  background-color: var(--white-color);
  font-weight: 600;
  line-height: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
.block-success__num span {
  color: #0c0c0c;
}
.block-success__title {
  font-weight: 600;
  line-height: 100%;
  color: var(--green-color);
}
.block-success__text {
  max-width: 420px;
  font-size: 20px;
  line-height: 140%;
}
.block-success__decor, .block-success__decor-1 {
  position: absolute;
  pointer-events: none;
  z-index: -1;
}
.block-success__decor img, .block-success__decor-1 img {
  width: 100%;
  object-fit: cover;
}
.block-success__decor {
  left: calc(100% - 240px);
}
.block-success__decor-1 {
  right: calc(100% - 240px);
}
.block-success__decor-1 img {
  transform: scale(-1, 1);
}
@media (max-width: 61.99875em) {
  .block-success {
    min-height: calc(100svh - 72px);
  }
}
@media (max-width: 47.99875em) {
  .block-success__num {
    font-size: 18px;
  }
  .block-success__num {
    padding: 16px 20px;
  }
  .block-success__title {
    font-size: 48px;
  }
  .block-success__text {
    font-size: 16px;
  }
  .block-success__decor {
    left: calc(100% - 110px);
  }
  .block-success__decor-1 {
    right: calc(100% - 170px);
  }
}
@media (max-width: 20em) {
  .block-success__decor {
    top: -72px;
  }
  .block-success__decor {
    width: 174px;
  }
  .block-success__decor {
    height: 161px;
  }
  .block-success__decor-1 {
    bottom: -99px;
  }
  .block-success__decor-1 {
    width: 239px;
  }
  .block-success__decor-1 {
    height: 247px;
  }
}
@media (max-height: 56.24875em) and (min-width: 61.99875em) {
  .block-success {
    min-height: calc(100svh - 96px);
  }
}
@media (min-width: 20em) and (max-width: 97.5em) {
  .block-success__decor {
    top: clamp( -250px , -26.064516129px  +  -14.3548387097vw , -72px );
  }
  .block-success__decor {
    width: clamp( 174px , 90.9032258065px  +  25.9677419355vw , 496px );
  }
  .block-success__decor {
    height: clamp( 161px , 83.8387096774px  +  24.1129032258vw , 460px );
  }
  .block-success__decor-1 {
    bottom: clamp( -200px , -72.935483871px  +  -8.1451612903vw , -99px );
  }
  .block-success__decor-1 {
    width: clamp( 239px , 164.935483871px  +  23.1451612903vw , 526px );
  }
  .block-success__decor-1 {
    height: clamp( 247px , 170.6129032258px  +  23.8709677419vw , 543px );
  }
}
@media (min-width: 47.99875em) and (max-width: 97.5em) {
  .block-success__num {
    font-size: clamp( 18px , 0.5463498397px  +  2.2726698821vw , 36px );
  }
  .block-success__title {
    font-size: clamp( 48px , -2.4216560188px  +  6.5654907704vw , 100px );
  }
}
@media (min-width: 97.5em) {
  .block-success__num {
    font-size: 36px;
  }
  .block-success__title {
    font-size: 100px;
  }
  .block-success__decor {
    top: -250px;
  }
  .block-success__decor {
    width: 496px;
  }
  .block-success__decor {
    height: 460px;
  }
  .block-success__decor-1 {
    bottom: -200px;
  }
  .block-success__decor-1 {
    width: 526px;
  }
  .block-success__decor-1 {
    height: 543px;
  }
}