section.shipping-block {
  margin-bottom: 160px;
  padding-top: 64px;
}

.shipping-block b {
  font-weight: 600;
}
.shipping-block .top-auto {
  margin-top: auto;
}
.shipping-block__title {
  margin-bottom: 48px;
}
.shipping-block__body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}
.shipping-block__body:not(:last-child) {
  margin-bottom: 24px;
}
.shipping-block__item {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom -80px right -60px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  border-radius: 36px;
  padding: 48px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-height: 400px;
}
.shipping-block__item--accent {
  grid-column: span 2;
  background-color: var(--accent);
}
.shipping-block__item--accent .shipping-block__item-title {
  color: var(--green-color);
}
.shipping-block__item--accent .shipping-block__item-badge {
  border-radius: 36px;
  padding: 16px 24px;
  background-color: var(--white-color);
  font-weight: 400;
  font-size: 20px;
  color: var(--main-color);
}
.shipping-block__item--dark {
  background-color: var(--green-color);
  color: var(--white-color);
}
.shipping-block__item--dark .shipping-block__item-title {
  color: var(--white-color);
}
.shipping-block__item-title {
  font-weight: 600;
  line-height: 105%;
}
.shipping-block__item-badges {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.shipping-block__item-badge {
  max-width: fit-content;
  border-radius: 24px;
  padding: 10px 16px;
  background-color: var(--accent);
  font-weight: 600;
  font-size: 24px;
  line-height: 105%;
  color: var(--green-color);
}
.shipping-block__item-text {
  font-size: 20px;
  line-height: 120%;
}
.shipping-block__info {
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  color: var(--green-color);
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  border-radius: 36px;
  padding: 34px 48px;
}
@media (max-width: 81.24875em) {
  .shipping-block__body {
    gap: 16px;
  }
  .shipping-block__body:not(:last-child) {
    margin-bottom: 16px;
  }
  .shipping-block__item {
    border-radius: 16px;
    padding: 20px;
  }
  .shipping-block__info {
    border-radius: 16px;
    padding: 20px;
  }
}
@media (max-width: 61.99875em) {
  .shipping-block__body {
    grid-template-columns: repeat(2, 1fr);
    grid-auto-flow: dense;
  }
}
@media (max-width: 47.99875em) {
  section.shipping-block {
    margin-bottom: 100px;
    padding-top: 24px;
  }
  .shipping-block__breadcrumbs:not(:last-child) {
    margin-bottom: 16px;
  }
  .shipping-block__title {
    margin-bottom: 16px;
  }
  .shipping-block__body {
    grid-template-columns: 1fr;
  }
  .shipping-block__item {
    min-height: 0;
    background-position: top -10px right -30px;
    background-size: 30%;
    gap: 24px;
  }
  .shipping-block__item--accent .shipping-block__item-title {
    font-size: 24px;
  }
  .shipping-block__item--accent {
    grid-column: auto;
  }
  .shipping-block__item--accent .shipping-block__item-badge {
    border-radius: 12px;
    font-size: 16px;
  }
  .shipping-block__item-title {
    font-size: 24px;
  }
  .shipping-block__item-badge {
    font-size: 18px;
  }
  .shipping-block__item-text {
    font-size: 16px;
  }
  .shipping-block__info {
    font-size: 18px;
  }
}
@media (max-width: 29.99875em) {
  .shipping-block__item {
    background-size: 35%;
  }
  .shipping-block__item-badges {
    gap: 8px;
  }
}
@media (min-width: 47.99875em) and (max-width: 97.5em) {
  .shipping-block__item--accent .shipping-block__item-title {
    font-size: clamp( 24px , 0.7284664529px  +  3.0302265094vw , 48px );
  }
  .shipping-block__item-title {
    font-size: clamp( 24px , 12.3642332264px  +  1.5151132547vw , 36px );
  }
}
@media (min-width: 97.5em) {
  .shipping-block__item--accent .shipping-block__item-title {
    font-size: 48px;
  }
  .shipping-block__item-title {
    font-size: 36px;
  }
}