.qs-datepicker-container {
  margin: 0px;
  font-size: 1rem;
  font-family: sans-serif;
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: 9001;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  box-shadow: 0 4px 35px 0 rgba(0, 0, 0, 0.15);
  background-color: var(--white-color);
  padding: 24px;
  border: 2px solid var(--light-gray);
  border-radius: 24px;
}

.qs-datepicker-container * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.qs-datepicker-container.qs-centered {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.qs-datepicker-container.qs-hidden {
  display: none;
}

.qs-datepicker .qs-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  z-index: 1;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.qs-datepicker .qs-overlay.qs-hidden {
  opacity: 0;
  z-index: -1;
}

.qs-datepicker .qs-overlay .qs-overlay-year {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-size: 0.875em;
  padding: 0.25em 0;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.qs-datepicker .qs-overlay .qs-overlay-year::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.qs-datepicker .qs-overlay .qs-close {
  padding: 0.5em;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.qs-datepicker .qs-overlay .qs-submit {
  border: 1px solid #fff;
  border-radius: 0.26392em;
  padding: 0.5em;
  margin: 0 auto auto;
  cursor: pointer;
  background: hsla(0, 0%, 50.2%, 0.4);
}

.qs-datepicker .qs-overlay .qs-submit.qs-disabled {
  color: rgba(31, 31, 31, 0.3);
  cursor: not-allowed;
}

.qs-datepicker .qs-overlay .qs-overlay-month-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.qs-datepicker .qs-overlay .qs-overlay-month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 33.33333%;
  cursor: pointer;
  opacity: 0.7;
  -webkit-transition: opacity 0.15s;
  transition: opacity 0.15s;
}

.qs-datepicker .qs-overlay .qs-overlay-month.active,
.qs-datepicker .qs-overlay .qs-overlay-month:hover {
  opacity: 1;
}

.qs-datepicker .qs-controls {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-controls.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-arrow {
  height: 42px;
  width: 42px;
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: background 0.15s;
  transition: background 0.15s;
}

.qs-datepicker .qs-arrow:hover {
  background: rgba(0, 0, 0, 0.1);
}

.qs-datepicker .qs-arrow:hover.qs-left:after {
  border-right-color: #000;
}

.qs-datepicker .qs-arrow:hover.qs-right:after {
  border-left-color: #000;
}

.qs-datepicker .qs-arrow:after {
  content: "";
  border: 0.39062em solid rgba(0, 0, 0, 0);
  position: absolute;
  top: 50%;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
}

.qs-datepicker .qs-arrow.qs-left {
  transform: rotate(90deg);
}

.qs-datepicker .qs-arrow.qs-right {
  transform: rotate(90deg);
}

.qs-datepicker .qs-arrow.qs-left:after {
  border-right-color: grey;
  right: 50%;
  -webkit-transform: translate(25%, -50%);
  -ms-transform: translate(25%, -50%);
  transform: translate(25%, -50%);
}

.qs-datepicker .qs-arrow.qs-right:after {
  border-left-color: grey;
  left: 50%;
  -webkit-transform: translate(-25%, -50%);
  -ms-transform: translate(-25%, -50%);
  transform: translate(-25%, -50%);
}

.qs-datepicker .qs-month-year {
  flex: 1 1 auto;
  order: -1;
  font-weight: 600;
  -webkit-transition: border 0.2s;
  transition: border 0.2s;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.qs-datepicker .qs-month-year:hover {
  border-bottom: 1px solid grey;
}

.qs-datepicker .qs-month-year:active:focus,
.qs-datepicker .qs-month-year:focus {
  outline: none;
}

.qs-datepicker .qs-month {
  font-weight: 600;
  font-size: 28px;
}

.qs-datepicker .qs-year {
  display: none;
}

.qs-datepicker .qs-squares {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4px;
  font-weight: 600;
  font-size: 14px;
  color: #1f1f1f;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 12px 0 0 0;
  -webkit-filter: blur(0);
  filter: blur(0);
  -webkit-transition: -webkit-filter 0.3s;
  transition: -webkit-filter 0.3s;
  transition: filter 0.3s;
  transition: filter 0.3s, -webkit-filter 0.3s;
}

.qs-datepicker .qs-squares.qs-blur {
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.qs-datepicker .qs-square {
  flex: 1 1 auto;
  width: calc(14.28571% - 4px);
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  -webkit-transition: background 0.1s;
  transition: background 0.1s;
  border-radius: 48px;
}

.qs-datepicker .qs-square.qs-current {
  background: #dbdbdb;
}

.qs-datepicker .qs-square.qs-current span {
  text-decoration: underline;
}

.qs-datepicker .qs-square.qs-active {
  background: var(--green-color);
  color: var(--white-color);
}

.qs-datepicker .qs-square.qs-range-date-start:not(.qs-range-date-6) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle {
  background: #d4ebf2;
}

.qs-datepicker .qs-square.qs-range-date-middle:not(.qs-range-date-0):not(.qs-range-date-6) {
  border-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-0 {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.qs-datepicker .qs-square.qs-range-date-end:not(.qs-range-date-0),
.qs-datepicker .qs-square.qs-range-date-middle.qs-range-date-6 {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.qs-datepicker .qs-square.qs-disabled span {
  opacity: 0.2;
}

.qs-datepicker .qs-square.qs-empty {
  cursor: default;
}

.qs-datepicker .qs-square.qs-disabled {
  color: rgba(31, 31, 31, 0.3);
  cursor: not-allowed;
}

.qs-datepicker .qs-square.qs-day {
  cursor: default;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  color: rgba(31, 31, 31, 0.4);
}

.qs-datepicker .qs-square:not(.qs-empty):not(.qs-disabled):not(.qs-day):not(.qs-active):hover {
  background: var(--accent);
}

.qs-datepicker .qs-event {
  position: relative;
}

.qs-datepicker .qs-event:after {
  content: "";
  position: absolute;
  width: 0.46875em;
  height: 0.46875em;
  border-radius: 50%;
  background: #07f;
  bottom: 0;
  right: 0;
}

.qs-datepicker .qs-event.qs-disabled:after,
.qs-datepicker .qs-event.qs-empty:after {
  background: #cce4ff;
}.hero-product {
  margin-bottom: 160px;
  position: relative;
  min-height: 100svh;
  padding: 192px 0 100px 0;
  color: var(--white-color);
  border-radius: 0 0 36px 36px;
  overflow: hidden;
  display: grid;
  align-content: end;
}
.hero-product::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 110%;
  pointer-events: none;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.6) 85%);
}
.out-of-stock .hero-product::before {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 70%);
}
.out-of-stock .hero-product .hero-product__bg {
  filter: grayscale(50%);
}
.hero-product__bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-product__container {
  position: relative;
  z-index: 3;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-product__body {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 24px;
}
.hero-product__breadcrumbs:not(:last-child) {
  margin-bottom: 0px;
}
.hero-product__title {
  max-width: 50%;
  align-self: flex-start;
  font-weight: 600;
  line-height: 100%;
}
.hero-product__content {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.hero-product__prices {
  max-width: fit-content;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 8px 16px;
  text-align: right;
  margin-left: auto;
}
.hero-product__sale {
  font-weight: 600;
  font-size: 20px;
  border-radius: 80px;
  padding: 8px 12px;
  background-color: var(--accent);
  color: var(--green-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-product__oldprice {
  font-weight: 500;
  line-height: 105%;
  text-decoration: line-through;
  color: rgba(255, 255, 255, 0.8);
}
.hero-product__price {
  width: 100%;
  font-weight: 600;
  line-height: 105%;
}
.hero-product__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;
  gap: 8px;
}
.hero-product__date {
  min-height: 51px;
  border-radius: 24px;
  padding: 12px;
  background-color: var(--dark-60);
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.hero-product__date span {
  color: var(--white-color);
}

.fixed-block {
  position: fixed;
  left: 36px;
  right: 36px;
  bottom: 36px;
  z-index: 10;
  border-radius: 24px;
  padding: 16px 24px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
  transition: bottom 0.4s, visibility 0.4s;
}
.fixed-block.visible {
  visibility: hidden;
  bottom: -150%;
  transition: bottom 1s, visibility 1s;
}
.fixed-block__left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px 24px;
}
.fixed-block__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
  padding-right: 24px;
  border-right: 2px solid #d4d4d4;
  display: grid;
}
.fixed-block__title span {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.fixed-block__prices {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}
.fixed-block__price {
  font-weight: 600;
  font-size: 20px;
  line-height: 105%;
}
.fixed-block__sale {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 120%;
  border-radius: 80px;
  padding: 4px 6px;
  background-color: var(--accent);
  color: var(--green-color);
}
.fixed-block__oldprice {
  font-weight: 500;
  font-size: 14px;
  line-height: 105%;
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.6);
}
.fixed-block__right {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.fixed-block__btn {
  min-height: 43px;
  padding: 10px 24px;
  font-size: 16px;
}
.fixed-block__fav {
  min-width: 43px;
  min-height: 43px;
}
.fixed-block__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
}.quote-block {
  margin-bottom: 160px;
}
.quote-block b {
  font-weight: 600;
}
.quote-block__body {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}
.quote-block__icon {
  flex-shrink: 0;
  width: 64px;
}
.quote-block__icon img {
  width: 100%;
  object-fit: cover;
}
.quote-block__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.quote-block__title {
  font-size: 20px;
  line-height: 110%;
  color: var(--green-color);
}
.quote-block__text {
  font-weight: 600;
  line-height: 140%;
  color: #303030;
}.product-detail {
  margin-bottom: 160px;
}
.product-detail__body {
  border-radius: 36px;
  padding: 64px;
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 48px;
  position: relative;
}
.product-detail__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 16px;
}
.product-detail__inner {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-detail__label {
  font-weight: 600;
  font-size: 16px;
  color: #888;
}
.product-detail__tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.product-detail__tag {
  border-radius: 48px;
  padding: 16px 24px;
  background-color: var(--light-gray);
  font-weight: 600;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.product-detail__tag span {
  color: rgba(0, 0, 0, 0.4);
}
.product-detail__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
}
.product-detail__item {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-right: 1px solid #b7b7b7;
  padding-right: 48px;
}
.product-detail__item:nth-child(4n) {
  padding-right: 0;
  border-right: none;
}
.product-detail__text {
  font-size: 20px;
  line-height: 130%;
}
.product-detail__decor-1, .product-detail__decor-2 {
  position: absolute;
  pointer-events: none;
}
.product-detail__decor-1 img, .product-detail__decor-2 img {
  width: 100%;
  object-fit: cover;
}
.product-detail__decor-1 {
  top: -152px;
  left: -225px;
  z-index: -1;
  width: 280px;
  height: 264px;
}
.product-detail__decor-2 {
  right: -285px;
  bottom: 80px;
  width: 323px;
  height: 349px;
}.box-gallery {
  margin-bottom: 160px;
}
.box-gallery__title:not(:last-child) {
  margin-bottom: 48px;
}
.box-gallery__inner {
  position: relative;
}
.box-gallery__slider {
  overflow: visible;
}
.box-gallery__slider:not(.swiper-initialized) .box-gallery__wrapper {
  gap: 24px;
}
.box-gallery__slider:not(.swiper-initialized) .box-gallery__slide:nth-child(n+4) {
  display: none;
}
.box-gallery__wrapper:not(:last-child) {
  margin-bottom: 48px;
}
.box-gallery__slide {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 36px;
  overflow: hidden;
  opacity: 0.5;
  transition: opacity 0.3s;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}
.box-gallery__slide img {
  border-radius: 36px;
  width: 100%;
  height: 71.5%;
  object-fit: cover;
  transition: height 0.3s;
}
.box-gallery__slide.swiper-slide-prev, .box-gallery__slide.swiper-slide-next, .box-gallery__slide.swiper-slide-active {
  opacity: 1;
}
.box-gallery__slide.swiper-slide-prev img, .box-gallery__slide.swiper-slide-next img, .box-gallery__slide.swiper-slide-active img {
  height: 100%;
}
.box-gallery__arrows {
  position: absolute;
  top: 45%;
  left: -115px;
  right: -115px;
  transform: translate(0px, -50%);
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}.compound {
  margin-bottom: 160px;
}
.compound__container {
  position: relative;
}
.compound__title:not(:last-child) {
  margin-bottom: 48px;
}
.compound__body {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  gap: 24px;
}
.compound__item {
  box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  border-radius: 36px;
  padding: 16px 24px 36px 24px;
  display: flex;
  flex-direction: column;
}
.compound__item-img {
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  margin-bottom: 16px;
}
.compound__item-img img {
  aspect-ratio: 1/1;
  border-radius: 16px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.compound__item-count {
  font-weight: 600;
  font-size: 16px;
  line-height: 105%;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 4px;
}
.compound__item-title {
  flex: 1 1 auto;
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
}
.compound__decor {
  position: absolute;
  z-index: -1;
  left: -280px;
  bottom: -350px;
  pointer-events: none;
  width: 744px;
  height: 754px;
}
.compound__decor img {
  width: 100%;
  object-fit: cover;
}

.grid-placeholder {
  border-radius: 36px;
  background-color: #dcede3;
}.reviews {
  margin-bottom: 160px;
}
.reviews__container {
  position: relative;
}
.reviews__title:not(:last-child) {
  margin-bottom: 48px;
}
.reviews__body .reviews__title:not(:last-child) {
  margin-bottom: 29px;
}
.reviews__inner {
  position: relative;
}
.reviews__inner:not(:last-child) {
  margin-bottom: 48px;
}
.reviews__slider {
  border-radius: 36px;
  padding: 0 16px;
  margin: 0 -16px;
}
.reviews__slider:not(.swiper-initialized) .reviews__wrapper {
  gap: 24px;
}
.reviews__slider:not(.swiper-initialized) .reviews__slide:nth-child(n+3) {
  display: none;
}
.reviews__wrapper:not(:last-child) {
  margin-bottom: 48px;
}
.reviews__slide {
  width: 100%;
}
.reviews__arrows {
  position: absolute;
  top: 41%;
  left: -95px;
  right: -95px;
  transform: translate(0px, -50%);
  z-index: 2;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.reviews__body {
  border-radius: 36px;
  padding: 48px;
  background-color: var(--white-color);
}
.reviews__form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.reviews__inputs {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
}
.reviews__field {
  flex: 1 1 auto;
}
.reviews__field--long {
  width: 100%;
}
.reviews__decor {
  position: absolute;
  z-index: -1;
  bottom: -340px;
  left: -315px;
  width: 400px;
  height: 412px;
}
.reviews__decor img {
  width: 100%;
  object-fit: cover;
  transform: scale(-1, 1);
}

.review-card {
  border-radius: 36px;
  padding: 36px 52px;
  box-shadow: 0 4px 14px 0px rgba(186, 224, 204, 0.65);
  background-color: var(--white-color);
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.out-of-stock .review-card {
  box-shadow: 0 4px 14px 0 rgba(224, 224, 224, 0.65);
}
.review-card__date {
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}
.review-card__title {
  font-weight: 600;
  font-size: 24px;
  line-height: 105%;
}
.review-card__rating {
  display: flex;
  align-items: center;
  gap: 8px;
}
.review-card__rating img {
  width: 24px;
  object-fit: cover;
}
.review-card__text {
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.5);
}

.options-rating__label {
  max-width: fit-content;
  border-radius: 48px;
  padding: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 121%;
  color: #fbfcfb;
  background-color: var(--green-color);
  margin: 0 24px -16px 24px;
  position: relative;
  z-index: 3;
}
.options-rating__items {
  height: 67px;
  display: flex;
  align-items: center;
  gap: 12px;
  border: 2px solid var(--light-gray);
  border-radius: 48px;
  padding: 10px 24px;
}
.options-rating__item {
  cursor: pointer;
  width: 24px;
  display: grid;
  place-content: center;
  color: var(--light-green);
  opacity: 0.5;
  transition: opacity 0.3s;
}
.options-rating__item.is-active {
  opacity: 1;
}
.options-rating__item.is-active svg {
  fill: var(--light-green);
}
.options-rating__input {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
.options-rating__input:focus-visible ~ .options-rating__star {
  outline: 1px solid #000;
}
.options-rating__star {
  width: 100%;
  display: grid;
  place-content: center;
}
@media (max-width: 112.49875em) {
  .box-gallery__arrows {
    left: -35px;
    right: -35px;
  }
  .reviews__arrows {
    left: -35px;
    right: -35px;
  }
}
@media (max-width: 99.99875em) {
  .box-gallery__arrows {
    left: -15px;
    right: -15px;
  }
  .reviews__arrows {
    left: -15px;
    right: -15px;
  }
}
@media (max-width: 97.5em) {
  .product-detail__decor-1 {
    top: -64px;
    left: -76px;
    width: 133px;
    height: 126px;
  }
  .product-detail__decor-2 {
    right: -64px;
    bottom: 29%;
    width: 125px;
    height: 135px;
  }
  .compound__decor {
    left: -180px;
    bottom: -250px;
    width: 544px;
    height: 554px;
  }
  .reviews__decor {
    left: -115px;
    bottom: -200px;
    width: 300px;
    height: 312px;
  }
}
@media (max-width: 89.99875em) {
  .product-detail__items {
    gap: 24px;
  }
  .product-detail__item {
    padding-right: 24px;
  }
}
@media (max-width: 74.99875em) {
  .product-detail__body {
    border-radius: 16px;
    padding: 24px;
  }
  .product-detail__text {
    font-size: 18px;
  }
}
@media (max-width: 61.99875em) {
  .hero-product {
    padding: 24px 0 36px 0;
    display: flex;
    flex-direction: column;
    min-height: calc(100svh - 72px);
  }
  .hero-product__container {
    flex: 1 1 auto;
  }
  .hero-product__body {
    flex: 1 1 auto;
    flex-direction: column;
    align-items: stretch;
  }
  .hero-product__title {
    max-width: 100%;
    flex: 1 1 auto;
  }
  .hero-product__prices {
    text-align: left;
    justify-content: stretch;
    margin-left: 0;
  }
  .hero-product__bottom {
    justify-content: stretch;
    flex-direction: row-reverse;
    gap: 10px;
  }
  .fixed-block {
    border-radius: 16px 16px 0 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .fixed-block__left {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }
  .fixed-block__title {
    padding-right: 0;
    padding-bottom: 8px;
    border-right: none;
    border-bottom: 1px solid #d4d4d4;
  }
  .product-detail__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-detail__item:nth-child(2n) {
    border-right: none;
  }
  .box-gallery__slider:not(.swiper-initialized) .box-gallery__slide:nth-child(n+3) {
    display: none;
  }
  .box-gallery__slide {
    border-radius: 16px;
  }
  .box-gallery__slide img {
    border-radius: 16px;
  }
}
@media (max-width: 47.99875em) {
  .hero-product {
    margin-bottom: 100px;
    border-radius: 0 0 24px 24px;
  }
  .hero-product__title {
    font-size: 64px;
  }
  .hero-product__oldprice {
    font-size: 18px;
  }
  .hero-product__price {
    font-size: 48px;
  }
  .hero-product__date {
    flex: 1 1 auto;
    min-width: 100%;
    order: -1;
  }
  .hero-product__btn {
    flex: 1 1 auto;
    width: auto;
    max-width: none;
    padding: 12px 16px;
  }
  .fixed-block {
    flex-direction: column;
    align-items: stretch;
    padding: 20px 12px;
  }
  .fixed-block__left {
    width: 100%;
  }
  .fixed-block__price {
    font-size: 18px;
  }
  .quote-block {
    margin-bottom: 100px;
  }
  .quote-block__title {
    font-size: 16px;
  }
  .quote-block__text {
    font-size: 20px;
  }
  .product-detail {
    margin-bottom: 100px;
  }
  .product-detail__body {
    gap: 0;
  }
  .product-detail__head:not(:last-child) {
    margin-bottom: 48px;
  }
  .product-detail__inner:not(:last-child) {
    margin-bottom: 36px;
  }
  .product-detail__tags {
    gap: 8px;
  }
  .product-detail__tag {
    border-radius: 16px;
    width: 100%;
    padding: 16px;
    gap: 16px;
  }
  .product-detail__tag span {
    flex-shrink: 0;
    order: -1;
  }
  .box-gallery {
    margin-bottom: 100px;
  }
  .box-gallery__title:not(:last-child) {
    margin-bottom: 36px;
  }
  .box-gallery__slider:not(.swiper-initialized) .box-gallery__slide:nth-child(n+2) {
    display: none;
  }
  .box-gallery__wrapper:not(:last-child) {
    margin-bottom: 36px;
  }
  .box-gallery__slide {
    transition: opacity 0.3s ease-out 0.3s;
  }
  .box-gallery__slide.swiper-slide-prev {
    opacity: 0;
  }
  .box-gallery__arrows {
    display: none;
  }
  .compound {
    margin-bottom: 100px;
  }
  .compound__title:not(:last-child) {
    margin-bottom: 36px;
  }
  .compound__body {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }
  .compound__item {
    border-radius: 16px;
    padding: 8px 16px 16px 16px;
  }
  .compound__item-img img {
    border-radius: 12px;
  }
  .compound__item-title {
    font-size: 18px;
  }
  .compound__decor {
    display: none;
  }
  .grid-placeholder {
    border-radius: 16px;
    background-color: #e8f5ee;
    box-shadow: 0 4px 30px 0 rgba(186, 224, 204, 0.65);
  }
  .reviews {
    margin-bottom: 100px;
  }
  .reviews__title:not(:last-child) {
    margin-bottom: 36px;
  }
  .reviews__inner:not(:last-child) {
    margin-bottom: 36px;
  }
  .reviews__slider {
    border-radius: 16px;
  }
  .reviews__slider:not(.swiper-initialized) .reviews__slide:nth-child(n+2) {
    display: none;
  }
  .reviews__wrapper:not(:last-child) {
    margin-bottom: 36px;
  }
  .reviews__arrows {
    display: none;
  }
  .reviews__body {
    padding: 24px 16px;
    border-radius: 16px;
  }
  .reviews__decor {
    display: none;
  }
  .review-card {
    border-radius: 16px;
    padding: 16px;
    gap: 12px;
  }
  .review-card__date {
    font-size: 18px;
  }
  .review-card__title {
    font-size: 20px;
  }
  .review-card__text {
    font-size: 18px;
  }
}
@media (max-width: 40.62375em) {
  .product-detail__items {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .product-detail__item {
    padding-right: 0;
    padding-bottom: 16px;
    border-right: none;
    gap: 8px;
  }
  .product-detail__item:not(:last-child) {
    border-bottom: 1px solid #b7b7b7;
  }
}
@media (max-width: 29.99875em) {
  .hero-product video.hero-product__bg {
    width: auto;
  }
  .hero-product__sale {
    font-size: 16px;
  }
  .fixed-block__btn {
    flex: 1 1 auto;
    padding: 10px 16px;
    max-width: none;
    width: auto;
  }
  .quote-block__body {
    flex-direction: column;
  }
  .product-detail__btn {
    max-width: 100%;
  }
  .compound__body {
    gap: 8px;
  }
  .compound__item-title {
    font-size: 16px;
  }
  .reviews__inputs {
    gap: 16px;
  }
  .reviews__rating {
    width: 100%;
  }
  .reviews__rating .options-rating__items {
    justify-content: space-between;
  }
  .review-card__date {
    font-size: 16px;
  }
  .review-card__title {
    font-size: 18px;
  }
  .review-card__text {
    font-size: 16px;
  }
}
@media (max-width: 23.12375em) {
  .hero-product__title {
    font-size: 48px;
  }
  .hero-product__price {
    font-size: 36px;
  }
  .hero-product__fav {
    flex: 1 1 auto;
    max-width: none;
  }
  .fixed-block__fav {
    flex: 1 1 auto;
    max-width: none;
  }
  .product-detail__body {
    padding: 24px 16px;
  }
  .product-detail__tag {
    padding: 16px 12px;
  }
  .compound__body {
    grid-template-columns: 1fr;
  }
}
@media (min-width: 47.99875em) and (max-width: 97.5em) {
  .hero-product__title {
    font-size: clamp( 64px , 29.0926996793px  +  4.5453397641vw , 100px );
  }
  .hero-product__oldprice {
    font-size: clamp( 18px , 6.3642332264px  +  1.5151132547vw , 30px );
  }
  .hero-product__price {
    font-size: clamp( 48px , 32.4856443019px  +  2.0201510063vw , 64px );
  }
  .quote-block__text {
    font-size: clamp( 20px , 8.3642332264px  +  1.5151132547vw , 32px );
  }
}
@media (min-width: 97.5em) {
  .hero-product__title {
    font-size: 100px;
  }
  .hero-product__oldprice {
    font-size: 30px;
  }
  .hero-product__price {
    font-size: 64px;
  }
  .quote-block__text {
    font-size: 32px;
  }
}
@media (any-hover: hover) {
  .options-rating__item:hover {
    opacity: 1;
  }
}